*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Quicksand', sans-serif;
}
main{
    margin: auto;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}